@import "tailwindcss";

@theme {

  /* --- DROP SHADOWS --- */
  --shadow-light-drop: 0 2px 4px 0 rgba(0, 0, 0, 0.10);

  /* --- SHOP PAGE FILTER --- */
  --color-filter-black: #21212140;

  /* --- FONTS --- */
  --font-montserrat: "Montserrat", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-aleo: "Aleo", serif; 
  --font-opensans: "Open Sans", sans-serif; 
  --font-libre: "Libre Baskerville", serif; 
  --font-abril: "Abril Fatface", serif; 
  --font-alfa: "Alfa Slab One", serif; 
  --font-anton: "Anton", sans-serif;

  /* --- PRIMARY & SECONDARY COLORS --- */
  --color-primary: #23A6F0;
  --color-secondary-1: #23856D;
  --color-secondary-2: #3C403D;
  --color-dark-background: #252B42;
  --color-light-background: #FFFFFF;

  /* --- STATUS & ALERT COLORS --- */
  --color-success: #2DC071;
  --color-alert: #E77C40;
  --color-danger: #E74040;
  --color-hover: #2A7CC7;
  --color-disabled-element: #8EC2F2;
  --color-muted: #BDBDBD;

  /* --- GRAYSCALE COLORS --- */
  --color-light-gray-1: #FAFAFA;
  --color-light-gray-2: #ECECEC;

  /* --- TEXT COLORS --- */
  --color-primary-text: #23A6F0;
  --color-secondary-text-1: #40BB15;
  --color-secondary-text-2: #3C403D;
  --color-text: #252B42;
  --color-second-text: #737373;
  --color-light-text: #FFFFFF;

  /* --- TEXT STATUS COLORS --- */
  --color-success-text: #2DC071;
  --color-alert-text: #E77C40;
  --color-danger-text: #E74040;
  --color-hover-text: #2A7CC7;
  --color-disabled-element-text: #8EC2F2;
  --color-muted-text: #BDBDBD;

  /* --- FADED COLORS --- */
  --color-light-text-gray-1: #FAFAFA;
  --color-light-text-gray-2: #ECECEC;
  --color-faded-primary: #B2E3FF;
  --color-faded-secondary-1: #B9EAA8;
  --color-faded-secondary-2: #FFDCD1;
}

body {
  font-family: var(--font-montserrat);
  margin: 0; 
  padding: 0;
  -webkit-font-smoothing: antialiased;
}


html {
  scroll-behavior: smooth;
}

/* Swipper Pagination Css Changes */
.swiper-pagination-bullet {
  width: 63px !important;
  height: 6px !important;
  border-radius: 0px !important;
  background-color: var(--color-light-background) !important; 
  opacity: 0.5 !important;
  margin: 0 1px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-light-background) !important; 
  opacity: 1 !important;
}

.swiper-pagination {
  bottom: 25px !important;
}